<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Employee Login</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
</head>
<body>
<div class="container">
  <div class="screen">
    <div class="screen__content d-flex flex-column">
      <div class="mt-auto">
      <app-common-errors [validationErrors]="validationErrors"></app-common-errors>
      <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
        <h2 >Employee Login</h2>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" formControlName="email"  class="login__input" placeholder="User name / Email">
          <error-input [control]="loginForm.get('email')">
          </error-input>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" formControlName="password"  placeholder="Password">
          <error-input [control]="loginForm.get('password')">
          </error-input>
        </div>
        <button class="button login__submit"  type="submit" [errorLocalMessages]="loginForm" >
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
        <button class="button login__submit"  (click)="registerNavigate()" >
          <span class="button__text">Register</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
<!-- partial -->

</body>
</html>
